
<style>
    #editor{
        max-height: 200px;
    overflow-y: auto;
    font-size: 1rem;
    }
</style>
<form action="/Blogs/Create" method="POST" id="BlogContent">
<div id="editor"><h1>Quill to HTML</h1>
➡️  Modify this content to update HTML output 🔻.
</div>
<input  type="hidden" id="Content" name="Content">
<button type="button" id="Blog">Save</button>
</form>




