
<%blogsdata.forEach(blog=>{%>
   <div class="postdata">

   <%=blog.Content%>
  
</div>   <p><a href="/Blogs/<%=blog.id%>" class="btn-custom">Read More <span
      class="ion-ios-arrow-forward"></span></a></p>
<%})%>


  


